@font-face {
    font-family: 'Montserrat Light';
    font-weight: 300;
    src: local('Montserrat Light'), local('Montserrat'),
    url('./assets/Fonts/Montserrat-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat Regular';
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat'),
    url('./assets/Fonts/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat Medium';
    font-weight: 500;
    src: local('Montserrat Medium'), local('Montserrat'),
    url('./assets/Fonts/Montserrat-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat SemiBold';
    font-weight: 600;
    src: local('Montserrat SemiBold'), local('Montserrat'),
    url('./assets/Fonts/Montserrat-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat Bold';
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat'),
    url('./assets/Fonts/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat ExtraBold';
    font-weight: 800;
    src: local('Montserrat ExtraBold'), local('Montserrat'),
    url('./assets/Fonts/Montserrat-ExtraBold.ttf') format('truetype');
}